@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
}
:root {
    --black: #222831;
    --white: #eeeeee;
    --primary: #393e46;
    --secondary: #3a89ff;
}
html,
body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    background-color: var(--black);
}
#root {
    min-height: 100vh;
}
span.blue {
    color: var(--secondary);
}
.show-flex {
    display: flex !important;
}
.show-block {
    display: block !important;
}
